---
pagination:
  data: instructions
  size: 1
  alias: inst
permalink: instructions/{{ inst.name }}/index.html
eleventyComputed:
  title: "{{ inst.name }}"
---
<h1>{{ inst.name }}</h1>

<p>{{ inst.description }}</p>

<section>
  <h2>Synopsis</h2>
  <pre><code>{{ inst.syntax }}</code></pre>
</section>

<section>
  <h2>Encoding</h2>

  <p><strong>Type:</strong> {{ inst.encodingType or "" }}</p>

  <div class="bitfield-diagram">
      {{ inst.bitfieldSVG | safe }}
  </div>

  <div class="bits">
    {% if inst.encoding.funct7 %}<div><strong>funct7</strong>: {{ inst.encoding.funct7 }}</div>{% endif %}
    {% if inst.encoding.funct3 %}<div><strong>funct3</strong>: {{ inst.encoding.funct3 }}</div>{% endif %}
    {% if inst.encoding.opcode %}<div><strong>opcode</strong>: {{ inst.encoding.opcode }}</div>{% endif %}
  </div>

</section>

<section>
  <h2>Availability</h2>
  <ul>
    <li><strong>Extension:</strong> {{ inst.definedBy }}</li>
    <li><strong>Base:</strong> {% if inst.base == 64 %}RV64 only{% else %}RV32 + RV64{% endif %}</li>
  </ul>
</section>


<style>
.bitfield-diagram {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.75rem;
  margin-top: 0.5rem;
  background: #fafafa;
}
.bits { margin-top: 0.5rem; color: #333; }
body { font-family: system-ui, sans-serif; line-height: 1.5; }

svg text {
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
}
</style>

